{% load static %}

<section class="section parallax-container bg-black context-dark wow fadeIn" data-parallax-img="{% static 'images/backgrounds/background-10-1920x900.jpg' %}" data-wow-delay=".2s">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container section-80 section-lg-top-125 section-lg-bottom-115">
                <div class="row row-30 justify-content-sm-center justify-content-xl-end align-items-center text-lg-left">
                    <div class="col-md-10 col-lg-9 col-xl-8">
                        <h2>Fastest Way to Compare and Book over 450 Airlines' Cheap Flights</h2>
                    </div>
                    <div class="col-lg-3"><a class="button button-primary" href="tours-grid-variant-2.html">Find the perfect tour</a></div>
                </div>
            </div>
        </div>
    </div>
</section>