{% load static %}


<section class="section-80 bg-wild-wand bg-wild-wand-team-member">
    <div class="container">
        <h3>Testimonials</h3>
        <p>The most recent reviews</p>
        <div class="row row-60 justify-content-sm-center">
            {% for item in testimonials %}
                <div class="col-md-8 col-lg-4">
                    <!-- Team Member-->
                    <div class="team-member">
                        <div class="team-member-img-wrap"><img class="rounded-circle img-responsive center-block" src="{{ item.user.profile.get_photo_url }}" width="100" height="100" alt=""></div>
                        <div class="team-member-body">
                            <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-black">
                                {{ item.user.get_full_name }}
                            </div>
                            <p class="text-small font-italic text-silver-chalice">
                                {{ item.text }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>