{% load static %}

<section class="section parallax-container bg-black wow fadeIn" data-parallax-img="{% static 'images/backgrounds/background-14-1920x900.jpg' %}" data-wow-delay=".2s">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container section-80 section-md-top-70 section-lg-bottom-135">
                <h3 class="text-white">Why SunTravel</h3>
                <p class="text-white">Our clients value us for a vast variety of advantages</p>
                <div class="row row-50 row-xxl justify-content-sm-center justify-content-lg-start text-sm-left text-lg-center">
                    <div class="col-md-8 col-lg-4">
                        <!-- Box-->
                        <div class="box-transparent d-lg-block">
                            <div class="unit flex-column flex-sm-row flex-lg-column unit-spacing-box-icon">
                                <div class="unit-left">
                                    <div class="icon-circle icon-circle-lg icon-filled-transparent center-block"><img class="img-responsive center-block" src="{% static 'images/icons/icon-08-17x19.png' %}" width="17" height="19" alt=""></div>
                                </div>
                                <div class="unit-body">
                                    <p class="text-small text-white text-uppercase text-ubold">24/7 support</p>
                                    <p class="text-small text-white">Our travel agents are always there to <br class="d-none d-xl-inline-block"> support you during your trip.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4">
                        <!-- Box-->
                        <div class="box-transparent d-lg-block">
                            <div class="unit flex-column flex-sm-row flex-lg-column unit-spacing-box-icon">
                                <div class="unit-left">
                                    <div class="icon-circle icon-circle-lg icon-filled-transparent center-block"><img class="img-responsive center-block" src="{% static 'images/icons/icon-09-20x20.png' %}" width="20" height="20" alt=""></div>
                                </div>
                                <div class="unit-body">
                                    <p class="text-small text-white text-uppercase text-ubold">Handpicked Hotels</p>
                                    <p class="text-small text-white">We pick the hotels with the <br class="d-none d-xl-inline-block"> utmost reputation and positive reviews.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4">
                        <!-- Box-->
                        <div class="box-transparent d-lg-block">
                            <div class="unit flex-column flex-sm-row flex-lg-column unit-spacing-box-icon">
                                <div class="unit-left">
                                    <div class="icon-circle icon-circle-lg icon-filled-transparent center-block"><img class="img-responsive center-block" src="{% static 'images/icons/icon-09-20x20.png' %}" width="25" height="24" alt=""></div>
                                </div>
                                <div class="unit-body">
                                    <p class="text-small text-white text-uppercase text-ubold">Best Price Guarantee</p>
                                    <p class="text-small text-white">We guarantee you’ll get top-notch <br class="d-none d-xl-inline-block"> comfort at an affordable price.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>