{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section parallax-container bg-black section-height-mac context-dark" data-parallax-img="{% static 'images/backgrounds/background-38-1920x900.jpg' %}">
        <div class="parallax-content">
            <div class="bg-overlay-darker">
                <div class="container section-34 section-md-100 section-lg-top-170 section-lg-bottom-165">
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="container">
            <p>Note all prices are in dollars, unless specified.</p>
            <div class="row justify-content-sm-center">
                <div class="col-lg-10 col-xl-12">
                    <div class="row row-30 row-offset-1 justify-content-sm-between">
                        {% for result in results %}
                            <div class="col-md-6 col-xl-3">
                                <div class="inset-left-10 inset-right-10 inset-sm-left-50 inset-sm-right-50 inset-md-left-20 inset-md-right-20 inset-lg-left-10 inset-lg-right-10 inset-xl-left-0 inset-xl-right-0">
                                <!-- Post Box-->
                                    <div class="post-box d-block text-left">
                                        <div class="post-box-caption">
                                            <div class="post-box-title text-ubold">
                                                <p class="text-black"> Airline: {{ result.airline }}</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Class: {{result.travel_class}}</li>
                                                <li class="list-group-item">Price: {{result.total_fare}}</li>
                                                <li class="list-group-item">Arrival: {{result.arrival_time}}</li>
                                            <li class="list-group-item">Departs : {{result.departure_time}}</li>
                                            </ul>
                                            <a href="{{result.booking_link}}" class="card-link, btn btn-primary">Book Flight</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <strong class="center-block">No flight was found</strong>
                        {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}