{% load static %}

<footer class="page-footer footer-default section-top-80 section-bottom-34 section-lg-bottom-15 text-md-left">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-md-8 col-lg-12">
                <div class="row row-40 justify-content-sm-center">
                    <div class="col-md-6 col-lg-3 col-xl-4 order-lg-1"><a class="brand-logo" href="/"><img width="148" height="30" src="{% static 'images/citilamplogo.png' %}" alt=""></a>
                        <p class="text-small inset-xl-right-80">Since 2002, we have been offering travel services of the highest quality, combining our energy and enthusiasm.</p>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-2 order-lg-4">
                        <p class="text-big text-black">Follow Us</p>
                        <!-- List Inline-->
                        <ul class="list-inline">
                            <li class="text-center"><a class="icon icon-square icon-filled-gallery fa fa-facebook-f text-gray" href="#"></a></li>
                            <li class="text-center"><a class="icon icon-square icon-filled-gallery fa fa-twitter text-gray" href="#"></a></li>
                            <li class="text-center"><a class="icon icon-square icon-filled-gallery fa fa-youtube text-gray" href="#"></a></li>
                            <li class="text-center"><a class="icon icon-square icon-filled-gallery fa fa-linkedin text-gray" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-12 col-lg-6 order-lg-2">
                        <p class="text-big text-black">Our Contacts</p>
                        <!-- Contact Info-->
                        <address class="contact-info text-left">
                            <div class="row row-15 justify-content-sm-center">
                                <div class="col-md-6">
                                    <p class="d-block text-small contact-info-address"><a class="text-gray" href="#"><span class="unit flex-row unit-spacing-xs"><span class="unit-left"><img class="img-responsive center-block" src="{% static 'images/icons/icon-01-16x21.png' %}" width="16" height="21" alt=""></span><span class="unit-body"><span>732/21 Second Street, Manchester, King Street, Kingston United Kingdom</span></span></span></a></p>
                                    <p class="d-block text-small"><a class="text-gray" href="callto:#"><span class="unit align-items-center flex-row unit-spacing-xs"><span class="unit-left"><img class="img-responsive center-block" src="{% static 'images/icons/icon-02-19x19.png' %}" width="19" height="19" alt=""></span><span class="unit-body"><span>345-677-554</span></span></span></a></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="d-block text-small"><a class="text-gray" href="callto:#"><span class="unit align-items-center flex-row unit-spacing-xs"><span class="unit-left"><img class="img-responsive center-block" src="{% static 'images/icons/icon-03-12x20.png' %}" width="12" height="20" alt=""></span><span class="unit-body"><span>323-678-567</span></span></span></a></p>
                                    <p class="d-block text-small"><a class="text-gray" href="mailto:#"><span class="unit align-items-center flex-row unit-spacing-xs"><span class="unit-left"><img class="img-responsive center-block" src="{% static 'images/icons/icon-04-20x13.png' %}" width="20" height="13" alt=""></span><span class="unit-body"><span>info@demolink.org</span></span></span></a></p>
                                    <p class="d-block text-small"><a class="text-gray" href="#"><span class="unit align-items-center flex-row unit-spacing-xs"><span class="unit-left"><img class="img-responsive center-block" src="{% static 'images/icons/icon-05-19x19.png' %}" width="19" height="19" alt=""></span><span class="unit-body"><span>demolink.org</span></span></span></a></p>
                                </div>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr bg-gallery"></div>
        <div class="row row-0 justify-content-sm-center justify-content-md-between">
            <div class="col-md-5 col-lg-4 text-md-left">
                <p class="text-extra-small">
                    Copyright &#169;<span class="copyright-year"></span><a href="#"> Citilamp</a>. All Rights Reserved.</p>
            </div>
            <div class="col-md-5 col-lg-4 text-md-right">
                <!-- List Inline-->
                <ul class="list-inline list-inline-8">
                    <li>
                        <p class="text-extra-small"><a class="text-gray" href="#">Privacy Policy</a></p>
                    </li>
                    <li>
                        <p class="text-extra-small"><a class="text-gray" href="#">Terms of Use</a></p>
                    </li>
                    <li>
                        <p class="text-extra-small"><a class="text-gray" href="#">Contact Support</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>