{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <section class="section parallax-container bg-black section-height-mac context-dark" data-parallax-img="{% static 'images/backgrounds/background-29-1920x900.jpg' %}">
        <div class="parallax-content">
            <div class="bg-overlay-darker">
                <div class="container section-34 section-md-100 section-lg-top-170 section-lg-bottom-165">
                    <h1 class="d-none d-lg-inline-block">Gallery</h1>
                    <h6 class="font-italic">Photos of Our Destinations</h6>
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery Fullwidth-->
    <section>
        <div class="row row-0 no-gutters justify-content-sm-center justify-content-md-start" data-lightgallery="group">
            {% for item in photos %}
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <a class="thumbnail-classic thumbnail-classic-fullwidth" data-lightgallery="item" href="{{ item.photo.url }}" data-author="Swiss Alps, Switzerland">
                    <span class="figure"><img width="370" height="240" src="{{ item.photo.url }}" alt="">
                        <span class="figcaption text-left">
                            <span class="text-ubold text-white">{{ item.city.name }}, {{ item.country.name }}</span>
                        </span>
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
