{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block extra_css %}
    <style>
    #password-form {
        margin-top: 25px;
    }
    .alert-danger {
        color: #a94442;
    }
    </style>
{% endblock %}

{% block content %}
    <section class="section parallax-container bg-black" data-parallax-img="{% static 'images/backgrounds/background-18-1920x900.jpg' %}">
        <div class="parallax-content">
            <div class="container section-80 section-md-top-135 section-md-bottom-145">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4 text-left">
                        <!-- Box-->
                        <div class="box box-lg box-lg-variant-2 bg-default">
                            <h5 class="text-ubold">Forgot Password?</h5>
                            <p class="text-offset-3 text-small">To reset your password, enter the email address you use to <a class="text-primary" href="{% url 'custom_login' %}">Log In</a>.</p>
                            {% if form.non_field_errors %}
                                {% for err in form.non_field_errors %}
                                    <div class="alert alert-danger">{{ err }}</div>
                                {% endfor %}
                            {% endif %}
                            <form id="password-form" method="post">
                                {% csrf_token %}
                                <div class="form-wrap form-wrap-xs">
                                    <label class="form-label" for="login-email">Your Email</label>
                                    <input class="form-input" id="login-email" type="email" name="email" value="{{ form.email.value|default_if_none:'' }}" data-constraints="@Email @Required">
                                    <span class="form-validation">{{ form.email.errors.0 }}</span>
                                </div>
                                <div class="form-button-2">
                                    <button class="button button-block button-primary" type="submit">RESTORE PASSWORD</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
