{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block extra_css %}
    <style>
    #password-form {
        margin-top: 25px;
    }
    .alert-danger {
        color: #a94442;
    }
    </style>
{% endblock %}

{% block content %}
    <section class="section parallax-container bg-black" data-parallax-img="{% static 'images/backgrounds/background-18-1920x900.jpg' %}">
        <div class="parallax-content">
            <div class="container section-80 section-md-top-135 section-md-bottom-145">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4 text-left">
                        <!-- Box-->
                        <div class="box box-lg box-lg-variant-2 bg-default">
                            <h5 class="text-ubold">Change Password</h5>
                            {% if form.non_field_errors %}
                                {% for err in form.non_field_errors %}
                                    <div class="alert alert-danger">{{ err }}</div>
                                {% endfor %}
                            {% endif %}
                            <form id="password-form" method="post">
                                {% csrf_token %}
                                <div class="form-wrap form-wrap-xs">
                                    <label class="form-label" for="id_password_current">Current Password</label>
                                    <input class="form-input" id="id_password_current" type="password" name="password_current" data-constraints="@Required">
                                    <span class="form-validation">{{ form.password_current.errors.0 }}</span>
                                </div>
                                <div class="form-wrap form-wrap-xs">
                                    <label class="form-label" for="id_password_new">New Password</label>
                                    <input class="form-input" id="id_password_new" type="password" name="password_new" data-constraints="@Required">
                                    <span class="form-validation">{{ form.password_new.errors.0 }}</span>
                                </div>
                                <div class="form-wrap form-wrap-xs">
                                    <label class="form-label" for="id_password_new_confirm">New Password (again)</label>
                                    <input class="form-input" id="id_password_new_confirm" type="password" name="password_new_confirm" data-constraints="@Required">
                                    <span class="form-validation">{{ form.password_new_confirm.errors.0 }}</span>
                                </div>
                                <div class="form-button-2">
                                    <button class="button button-block button-primary" type="submit">CHANGE PASSWORD</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
