{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <section class="section parallax-container bg-black" data-parallax-img="{% static 'images/backgrounds/background-18-1920x900.jpg' %}">
        <div class="parallax-content">
            <div class="container section-80 section-md-top-135 section-md-bottom-145">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4 text-left">
                        <!-- Box-->
                        <div class="box box-lg box-lg-variant-2 bg-default">
                            <p class="text-offset-3 text-small">An email has been sent to your email address. Please follow the instructions in the email to reset your password.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
