{% extends 'base.html' %}
{% load static %}

{% block title %}Signup{% endblock %}

{% block extra_css %}
    <style>
    #signup-form {
        margin-top: 25px;
    }
    </style>
{% endblock %}

{% block content %}
    <section class="section parallax-container bg-black" data-parallax-img="{% static 'images/backgrounds/background-25-1920x900.jpg' %}">
        <div class="parallax-content">
            <div class="container section-80 section-md-top-135 section-md-bottom-165">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4">
                        <!-- Box-->
                        <div class="box box-lg d-block bg-default inset-xl-left-60 inset-xl-right-60">
                            <h5 class="text-ubold text-md-left">Sign Up</h5>
                            <form id="signup-form" method="post">
                                {% csrf_token %}
                                <div class="form-wrap form-wrap-xs">
                                    <label class="form-label" for="signup-email">Email</label>
                                    <input class="form-input" id="signup-email" type="email" name="email" value="{{ form.email.value|default_if_none:'' }}" data-constraints="@Email @Required">
                                    <span class="form-validation">{{ form.email.errors.0 }}</span>
                                </div>
                                <div class="form-wrap form-wrap-xs">
                                    <label class="form-label" for="signup-password">Password</label>
                                    <input class="form-input" id="signup-password" type="password" name="password" data-constraints="@Required">
                                    <span class="form-validation">{{ form.password.errors.0 }}</span>
                                </div>
                                <div class="form-wrap form-wrap-xs">
                                    <label class="form-label" for="signup-re-enter-password">Re-enter password</label>
                                    <input class="form-input" id="signup-re-enter-password" type="password" name="password_confirm" data-constraints="@Required">
                                    <span class="form-validation">{{ form.password_confirm.errors.0 }}</span>
                                </div>
                                <div class="form-button">
                                    <button class="button button-block button-icon button-icon-right button-primary" type="submit"><span>sign up</span><span class="icon icon-xxs mdi mdi-chevron-right" style="float:none; margin-top:-1px;"></span></button>
                                </div>
                            </form>
                            <p class="text-extra-small">Already have an account? <a class="text-primary" href="{% url 'custom_login' %}">Log In</a> now!</p>
                            <div class="section-hidden">
                                <p class="divider-both-lines text-silver-chalice font-weight-bold font-italic">or</p>
                            </div>
                            <a class="button button-block button-icon button-icon-both button-twitter button-wide-left-icon" href="{% url 'social:begin' 'twitter' %}">
                                <span class="icon icon-xxs fa fa-twitter"></span>
                                <span>LOG IN WITH TWITTER</span>
                                <span class="icon icon-xxs mdi mdi-chevron-right"></span>
                            </a>
                            <a class="button button-block button-icon button-icon-both button-facebook button-wide-left-icon" href="{% url 'social:begin' 'facebook' %}">
                                <span class="icon icon-xxs fa fa-facebook"></span>
                                <span class="inset-left-15">LOG IN WITH FACEBOOK</span>
                                <span class="icon icon-xxs mdi mdi-chevron-right"></span>
                            </a>
                            <a class="button button-block button-icon button-icon-both button-google-plus button-wide-left-icon" href="{% url 'social:begin' 'google-oauth2' %}">
                                <span class="icon icon-xxs fa fa-google-plus" style="margin-left:-3px;"></span>
                                <span>LOG IN WITH Google+</span>
                                <span class="icon icon-xxs mdi mdi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
